<!DOCTYPE html>
<html lang="en">

  <head>
    <title>spout.page · source · components · circle-fit-container</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="/manifest/favicon.svg">
    <link rel="alternate icon" href="/manifest/favicon.ico">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/colors.css">
    <link rel="stylesheet" href="/scale.css">
    <script type="module" src="/components/circle-fit-container/index.js"></script>
    <style>
      :root {
        --color-debug: rgba(0, 0, 0, 0.1);
      }
    </style>
  </head>

  <body style="min-height: 100vh;">
    <spout-circle-fit-container style="height: 100%;" aspectRatio=0.707 randomX randomY randomR></spout-circle-fit-container>
  </body>

</html>