:root {
  --color-paper: #dcceb4;
  --color-ink: #41414d;
  --color-tint: #2b2b3166;

  @media (prefers-color-scheme: dark) {
    --color-paper: #2b2b31;
    --color-ink: #e0d5c0;
    --color-tint: #0009;
  }
}
