<!DOCTYPE html>
<html lang="en">

  <head>
    <title>spout.page · source · components · book</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="/manifest/favicon.svg">
    <link rel="alternate icon" href="/manifest/favicon.ico">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/colors.css">
    <link rel="stylesheet" href="/scale.css">
    <script type="module" src="/components/book/index.js"></script>
    <style>
      :root {
        --color-debug: rgba(0, 0, 0, 0.1);

        background: var(--color-paper, white);
      }
    </style>
    <script>
        self.LOG = true
    </script>
  </head>

  <body>
    <spout-book></spout-book>
    <script>
      fetch('/content/books/placeholder/index.json')
        .then(response => response.json())
        .then(data => {
          const $book = document.querySelector('spout-book')
          $book.data = data
        })
    </script>
  </body>

</html>